.App {
  width: 100%;
  height: 100%;
  background-color: blueviolet; 
  text-align: center;
  font-family: 'monospace';
}
.calculator{
  display: block;
  margin-top:15%;
}
.display{
  background-color: oldlace;
  margin: 0 auto;
  padding:0px 10px;
  width:264px; 
  text-align: right;
  font-size: 2em;
  line-height: 0.2em;
  border: 10px solid red;
}
.keypad{
  background-color: orangered;
  margin: 0 auto;
  /* padding:2px; */
  width:300px; 
  height:320px;
  border: 2px solid red;
  display:grid;
  grid-template-columns:repeat(5,1fr);
}
.btn{
  background-color: orangered;
  border:1px solid red;
  font-size: 1.4em;
  color: white;
}
.btn:active{
  outline: none;
  background-color: tomato;
}
.info{
  text-align: center;
  background-color: orangered;
  width:276px;
  margin:0 auto;
  padding: 10px;
  color: white;
  border: 4px solid red;
  border-top: 1px solid red;
}
a{
text-decoration: none;
color: lightgoldenrodyellow;
}
a:hover{
  color: white;
}